//-
  ВНИМАНИЕ! Этот файл генерируется автоматически.
  Любые изменения этого файла будут потеряны при следующей компиляции.
  Любое изменение проекта без возможности компиляции ДОЛЬШЕ И ДОРОЖЕ в 2-5 раз.

include ../blocks/button/button.pug
include ../blocks/button-like/button-like.pug
include ../blocks/checkbox/checkbox.pug
include ../blocks/content-select-button/content-select-button.pug
include ../blocks/datepicker/datepicker.pug
include ../blocks/dropdown/dropdown.pug
include ../blocks/dropdown/__content/__content.pug
include ../blocks/expand-checkbox-list/expand-checkbox-list.pug
include ../blocks/form-select/form-select.pug
include ../blocks/header/header.pug
include ../blocks/input-date/input-date.pug
include ../blocks/input-text/input-text.pug
include ../blocks/item-arrow/item-arrow.pug
include ../blocks/logo/logo.pug
include ../blocks/main/main.pug
include ../blocks/navigation/navigation.pug
include ../blocks/radio/radio.pug
include ../blocks/range-date-select/range-date-select.pug
include ../blocks/range-slider/range-slider.pug
include ../blocks/text-field/text-field.pug
include ../blocks/toggle/toggle.pug
