//- Все примеси в этом файле должны начинаться c имени блока (form-select)

mixin form-select(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +form-select('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' form-select__' + modsList[i].trim();
      }
    }

  .form-select(class=allMods)&attributes(attributes)
    h1.form-select__title='Найдём номера под ваши пожелания'
    .form-select__range
      .form-select__range-tittle
      +range-date-select('Прибыте','выезд')
      +dropdown("гости","Сколько гостей", "drop3", "guest")
        +dropdown__content('Взрослые')
        +dropdown__content('Дети')
        +dropdown__content('Младенцы')
        .dropdown__button-block
            .dropdown__button-clear
                +button("очистить", "icon-link, icon-link_gray")
            .dropdown__button-submit
                +button("применить", "icon-link, icon-link_purple")
      .form-select__submit
        +button('подобрать номер', "color_purple, arrow")

  block
