// В этом файле должны быть стили для БЭМ-блока dropdown__buttion-down_droped, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.button-down_droped {
	&::after {
		content: "expand_less";
		display: flex;
		text-align: center;
		align-items: center;
		font-family: "Material Icons";
		font-weight: normal;
		font-style: normal;
		font-size: 24px; /* Preferred icon size */
		text-transform: none;
		letter-spacing: normal;
		word-wrap: normal;
		white-space: nowrap;
		direction: ltr;
		line-height: 100%;
	}
}
