// В этом файле должны быть стили для БЭМ-блока cv-page__page-main, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cv-page__page-main {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 1920px;
    // height: 830/1440*100%;

    section{
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }

    .pgwSlider {
        width: 100%;
        height: 830/1440*100vw;
        max-width: 1920px;

        ul{
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            height: 100%;
        }

        li {
            width: 100%;
            max-width: 100%;
            min-width: 100%;
            height: 100%;
            // object-fit: contain;

            img{
                object-fit: cover;
                width: 100%;
                // max-width: 100%;
                // min-width: 100%;
                height: 100%;
            }
        }
    }

    .form-wrapper{
        position: absolute;
        top:70/1440*100vw;
        left: var( --margin-header);
        z-index: 15;
    }

    .slogan{
        position: absolute;
        bottom: 18/1440*100%;
        right: var(--margin-header);
        width: (297 / 14 * 1em) ;
        height: 48/14*1em;
        text-align: right;
        z-index: 3;
        @media screen and (max-width: 699px){
            width: (200 / 14 * 1em) ;
            bottom: 100/1440*100%;
        }

    }
}
