// В этом файле должны быть стили для БЭМ-блока header__user, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header__user {

  $block-name:                &; // #{$block-name}__element
  @include font-nav-menu;
  white-space: nowrap;
  align-self: center;
}
