// В этом файле должны быть стили для БЭМ-блока dropdown__button-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.dropdown__button-block {

  $block-name:                &; // #{$block-name}__element
  display: flex;
  justify-content: space-between;
  margin: 7px 14px;

}
