// В этом файле должны быть стили для БЭМ-блока checkbox__inner, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.checkbox__inner {
  display: flex;
  min-height: 20px;
  margin-bottom: 10px;
}
