//- Все примеси в этом файле должны начинаться c имени блока (input-date)

mixin input-date(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +input-date('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' input-date_' + modsList[i].trim();
      }
    }

  .input-date(class=allMods)&attributes(attributes)
    input.input-date__input-field
    .input-date__btn
  block
