// В этом файле должны быть стили для БЭМ-блока dropdown__wraper, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.dropdown__wraper {
  position: relative;
  width: 100%;
  min-height: 64px;
  
}
