//- Все примеси в этом файле должны начинаться c имени блока (datepicker)

mixin datepicker(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +datepicker('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' datepicker--' + modsList[i].trim();
      }
    }

  .datepicker__wrap.datepicker__wrap_hiden
    .datepicker(class=allMods)&attributes(attributes)
    .datepicker__button-block
      .datepicker__button-clear
          +button("очистить", "icon-link, icon-link_gray")
      .datepicker__button-submit
          +button("применить", "icon-link, icon-link_purple")
    block