// В этом файле должны быть стили для БЭМ-блока form-registration__login, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-registration__login {

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  p {
    margin: 0;
  }
}
