// В этом файле должны быть стили для БЭМ-блока header__btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header__btn {

  display: flex;
  justify-content: flex-end;
  align-content: center;
}
