mixin dropdown(title, text, idArg, mods)

    //- Принимает:
    //-   title    {string} - текст заголовка и первоночального поля вывода
    //-   text    {string} - текст первоночального поля вывода
    //-   idArg    {string} - id
    //-   mods    {string} - список модификаторов
    //- Вызов:
            +dropdown__content('id', 'some-mod')

    -
        // список модификаторов
        var allMods = '';
        if(typeof(mods) !== 'undefined' && mods) {
        var modsList = mods.split(',');
        for (var i = 0; i < modsList.length; i++) {
            allMods = allMods + ' dropdown_' + modsList[i].trim();
        }
        }


    .dropdown(id=idArg class=allMods)
        .dropdown__wraper
            .dropdown__title=title
            .dropdown__output-field
                .dropdown__button-down.dropdown__button-down_undroped
                p.dropdown__output-field-text=text
            .dropdown__content-field
                block
