// В этом файле должны быть стили для БЭМ-блока dropdown__output-field, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.dropdown__output-field {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  --height: calc(44/14 * 1em);
  height: var(--height);
  box-sizing: border-box;
  border: 1px solid $input-color;
  border-radius: calc(4/14 * 1em);
  outline: none;
  cursor: pointer;
  @include font-input-text;
  padding-left: 0;

  // &:hover {
  // 	border-color: $input-color-focus;
  // }
  // &:focus {
  // 	border-color: $input-color-focus;
  // }
  & .dropdown__output-field-text {
    @include font-input-text;
    overflow: hidden;
    line-height: 100%;
    padding-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.dropdown__output-field_droped{

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}