//- Все примеси в этом файле должны начинаться c имени блока (logo)

mixin logo(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +logo('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' logo--' + modsList[i].trim();
      }
    }

  .logo(class=allMods)&attributes(attributes)
    img(src="./blocks/logo/img/Logo.png", alt="Logo")
    
  block
