// В этом файле должны быть стили для БЭМ-блока buttion_color_purple, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.button_color_purple {
  background: $purple-gradient;
  border: 0;
  color: #FFFFFF;
  &:hover{opacity: 0.5}

}

