// В этом файле должны быть стили для БЭМ-блока input-text__input, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.input-text__input {
	@include font-body;
	width: calc(100% - 15 / 14 * 2em);
	border: 0;
	padding: 0;
	line-height: 18/14 * 1em;
	margin: 13/14 * 1em 15/14 * 1em 13/14 * 1em 15/14 * 1em;
	box-sizing: border-box;
	color: $color-Dark25; //TODO проверить цвет шрифта инпутТекст
	&:hover,
	&:focus {
		line-height: 24/14 * 1em;
		margin-top: 12/14 * 1em;
		margin-bottom: 8/14 * 1em;
		color: $color-Dark75;
	}
}
