// В этом файле должны быть стили для БЭМ-блока cv-page__left, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cv-page__left {

  width: 266px;
  display: flex;
  flex-direction: column;
  }
