//- Все примеси в этом файле должны начинаться c имени блока (range-slider)

mixin range-slider(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +range-slider('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' range-slider_' + modsList[i].trim();
      }
    }

  .range-slider(class=allMods)&attributes(attributes)
      <div class="range-slider__ui">
      </div>
  block
