// В этом файле должны быть стили для БЭМ-блока filter-page__convenience, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter-page__convenience {

  height: 44/14*1rem;
  h3{
    line-height: 44/14*1rem;
    margin: 0;
  }

  .button-down{
    justify-content: center;
  }
}
