// В этом файле должны быть стили для БЭМ-блока header__margin-right, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header__margin-right {
  flex-basis: 27%;
  min-width: 10px;
  @media screen and (max-width: $sc2){
    flex-basis: 0;
    max-width: 0;
    display: none;

}

}
