//- Все примеси в этом файле должны начинаться c имени блока (paginator)

mixin paginator(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +paginator('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' paginator_' + modsList[i].trim();
      }
    }

  .paginator(class=allMods)&attributes(attributes)
    .paginator__button-block
      input(type='radio' id='paginator1' name='paginator' checked)
      label(for='paginator1').paginator__button='1'
      input(type='radio' id='paginator2' name='paginator')
      label(for='paginator2').paginator__button='2'
      input(type='radio' id='paginator3' name='paginator')
      label(for='paginator3').paginator__button='3'
      input(type='radio' id='paginator4' name='paginator' disabled)
      label(for='paginator4').paginator__button='...'
      input(type='radio' id='paginator5' name='paginator')
      label(for='paginator5').paginator__button='15'
      button(type='button').paginator__button.paginator__button_arrow='arrow_forward'
    p.paginator__text='1 – 12 из 100+ вариантов аренды'
    block
