// В этом файле должны быть стили для БЭМ-блока filter-page__header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.filter-page__header {
  display: block;
  width: 100%;
  position: relative;
  margin-bottom: 20.5/14*1rem;
}
