:root {
    --body-bacground-color: #fff
}

@font-face {
    font-family: Material Icons;
    font-style: normal;
    font-weight: 400;
    src: url(2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.60c17b20.woff2) format("woff2")
}

.button {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    cursor: pointer;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    outline: none
}

.button:hover {
    opacity: .5
}

.button_color_purple {
    background: linear-gradient(180deg, #bc9cff, #8ba4f9);
    border: 0;
    color: #fff
}

.button_color_white {
    background-color: #fff;
    border: 2px solid transparent;
    background-clip: padding-box;
    color: #bc9cff
}

.button_color_white:before {
    z-index: -1;
    background: linear-gradient(180deg, #bc9cff, #8ba4f9)
}

.button_color_white:before, .button_color_white:hover:after {
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    border-radius: 22px;
    content: ""
}

.button_color_white:hover:after {
    background-color: hsla(0, 0%, 100%, .5);
    opacity: 1
}

.button_color_white:hover {
    background-color: #fff;
    border: 2px solid transparent;
    background-clip: padding-box;
    color: #bc9cff;
    opacity: 1
}

.cv-page {
    margin: 0;
    outline: none
}

.cv-page__page-header {
    height: 70px
}

.dropdown__button-down_droped {
    background-color: #81d4d4
}

.dropdown__button-down_undroped {
    background-color: #07076e
}

.dropdown__button-down {
    display: block;
    width: 44px
}

.dropdown__content-field_visible {
    display: flex
}

.dropdown__content-field {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: none;
    border: 1px solid rgba(31, 32, 65, .5);
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background-color: var(--body-bacground-color)
}

.dropdown__output-field_form-hover {
    border-color: rgba(31, 32, 65, .5)
}

.dropdown__output-field {
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    --height: 44px;
    min-width: 266px;
    height: var(--height);
    border: 1px solid rgba(31, 32, 65, .25);
    border-radius: 4px 4px 0 0;
    outline: none;
    cursor: pointer;
    height: 100%;
    padding-left: 0
}

.dropdown__output-field, .dropdown__output-field p {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 14px;
    color: rgba(31, 32, 65, .75)
}

.dropdown__output-field p {
    overflow: hidden;
    line-height: 100%;
    padding-left: 15px;
    white-space: nowrap;
    text-overflow: ellipsis
}

.dropdown__title {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #1f2041;
    margin: 0 0 5px
}

.dropdown__wraper {
    position: relative;
    width: 266px;
    min-height: 64px
}

h2 {
    color: #0ff
}

.header {
    display: flex;
    justify-content: space-between;
    vertical-align: center;
    align-content: center
}

.header_logged .header__btn-registration, .header_logged .header__btn-sign {
    display: none
}

.header_logged .header__rectangle, .header_logged .header__user, .header_standart .header__btn-registration, .header_standart .header__btn-sign {
    display: block
}

.header_standart .header__rectangle, .header_standart .header__user {
    display: none
}

.header__btn-registration {
    align-self: center;
    width: 101px;
    height: 34px;
    min-width: 101px
}

.header__btn-sign {
    min-width: 79px;
    height: 34px;
    align-self: center;
    margin-right: 20px
}

.header__logo {
    max-width: 106px;
    max-height: 40px;
    align-self: center;
    margin-right: 30px
}

.header__margin-center {
    flex-basis: 46%
}

.header__margin-left, .header__margin-right {
    flex-basis: 27%;
    min-width: 10px
}

.header__nav {
    min-width: 530px;
    max-width: 530px;
    height: 21px;
    margin: 26px 30px 23px
}

.header__rectangle {
    min-width: 1px;
    min-height: 30px;
    background-color: rgba(31, 32, 65, .5);
    opacity: .1;
    align-self: center;
    margin-right: 30px
}

.header__user {
    font-weight: 400;
    line-height: 17px;
    color: rgba(31, 32, 65, .5);
    white-space: nowrap;
    align-self: center
}

.header__user, .input-text__input {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-size: 14px
}

.input-text__input {
    width: 320px;
    height: 44px;
    border-color: rgba(31, 32, 65, .25);
    border-width: 1px;
    border-radius: 4px;
    outline: none;
    color: rgba(31, 32, 65, .75);
    padding-left: 15px
}

.input-text__input:focus, .input-text__input:hover {
    border-color: rgba(31, 32, 65, .5)
}

.input-text__input::placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: rgba(31, 32, 65, .25)
}

.input-text__input::-webkit-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: rgba(31, 32, 65, .25)
}

.input-text__input:-moz-placeholder, .input-text__input::-moz-placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: rgba(31, 32, 65, .25)
}

.input-text__input:-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: rgba(31, 32, 65, .25)
}

.input-text__name {
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #1f2041
}

.logo {
    cursor: pointer
}

.navigation {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(31, 32, 65, .5);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0
}

.navigation__elem_arrowed {
    display: inline-flex;
    align-items: flex-start;
    text-align: center;
    align-self: flex-start
}

.navigation__elem_arrowed:after {
    content: "expand_more";
    align-self: flex-start;
    font-family: Material Icons;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    color: rgba(31, 32, 65, .5);
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "liga"
}

.navigation__elem_bold {
    font-weight: 700
}

.navigation__elem {
    display: inline-flex;
    cursor: pointer
}

.navigation__elem:hover {
    opacity: .5
}

/*# sourceMappingURL=main.90511238.css.map */