include includes/mixins.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body.cv-page
        //- тут наша страница
        .cv-page__header
            +header('', 'standart')
        .inner
            +dropdown("dropdown1", "Сколько помещений", "drop1", "standart")
                +dropdown__content('Спальни')
                +dropdown__content('Госстинные')
                +dropdown__content('Ванные комнаты')
            +dropdown("dropdown2","Сколько гостей", "drop2", "guest")
                +dropdown__content('Взрослые')
                +dropdown__content('Дети')
                +dropdown__content('Младенцы')
                .dropdown__button-block
                    .dropdown__button-clear
                        +button("очистить", "icon-link, icon-link_gray")
                    .dropdown__button-submit
                        +button("применить", "icon-link, icon-link_purple")
        script(src='./main.js')