// В этом файле должны быть стили для БЭМ-блока dropdown__title, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.dropdown__title {
	@include font-h3;
	margin: 0;
	margin-bottom: calc(5/12 * 1em);
	line-height: calc(15/12 * 1em);
}
