// В этом файле должны быть стили для БЭМ-блока header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header {
    display: flex;
    min-height: 70px;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    vertical-align: center;
    align-content: center;
    @media screen and (max-width: $sc2){
        padding: 5px 0;
        // flex-basis: 0;
        flex-flow: row wrap;
        justify-content: space-between;

    }
}
