// В этом файле должны быть стили для БЭМ-блока form-registration, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-registration {

  width: calc(380/14 * 1em);
  padding: calc(30/14 * 1em);
  padding-top: calc(40/14 *1em);
  box-sizing: border-box;
  display: block;
  position: absolute;
  top:550px;
  background-color: var(--body-bacground-color);
  h3{
    margin: 0;
    margin-bottom: 5/12*1em;
    line-height: 15/12*1em;
    height: 15/12*1em;
  }
  .input-text{
    margin-bottom: 10/14*1em;
  }
}
