// В этом файле должны быть стили для БЭМ-блока form-registration, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.form-registration {

  width: calc(380/14 * 1em);
  padding: calc(30/14 * 1em);
  padding-top: calc(40/14 *1em);
  box-sizing: border-box;
  display: block;
  position: absolute;
  top:550px;
  background-color: var(--body-bacground-color);
}
